body {
    padding-top: 50px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
    padding: 20px;
}

.page-header {
    margin-top: 0;
}

#attributions {
    position: fixed;
    bottom: 0;
    right: 20px;
}